.container {
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.l_side {
    float:left;
    width:60%;
    box-sizing: border-box;
}

.r_side {
    float: right;
    width: 40%;
    box-sizing: border-box;
}

.video {
    position: relative;
    height: 400px;
    max-width: 92%;
    align-items: center;
    margin: 0px 30px 0% 30px;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
    object-fit: cover;
}

.about_container {
    width: 100%;
    margin-top: 70px;
}

.about_l {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.fractal-video {
    float: right;
    width: 50%;
    box-sizing: border-box;
}

.about_r {
    float: right;
    width: 50%;
    box-sizing: border-box;
}

.links {
    font-size: 26px;
    background:white ;
    color: red ;
    font-weight: bold;
    text-align: justify;
}

#name {
    font-size: 26px;
    width: 640px;
    background:white ;
    color: black ;
    font-weight: bold;
    text-align: center;
}

.name {
    font-size: 26px;
    width: 360px;
    background: white;
    color: black;
    font-weight: bold;
    text-align: center;
}

.video_names {
    font-size: 26px;
    width: 500px;
    background: white;
    color: black;
    font-weight: bold;
    text-align: center;
}

.video_fractal {
    width: 500px;
    height: 500px;
}