body {
    height: 100%;
    font-family: "MS PGothic", monospace;
    display:flex;
    flex-direction:column;
    background-image: url("egypt2b.jpg");
}
h1{
    background:white ;
    color:black ;
    text-align: center;
    margin: 10% 5% 0% 5%;
    border-radius: 3px;
}
h2 {
    background:#f9eae1 ;
    border-radius: 10px;
    color:#313e50 ;
}

p{
    background:white ;
    color:black ;
    margin: 3% 5% 0% 5%;
    text-align: justify;
    padding: 2%;
    font-size: 25px;
    border-radius: 3px;
}

/* Links */

a {
    color: white;
    text-decoration: none;
    text-shadow: 3px 3px #5c6672;
}

a:hover {
    text-shadow: none;
    color: #baa2c7;
}

a:visited {
    text-decoration: none;
}

/* Header/Footer */

header {
    background: #592941;
    color: #f9eae1;
    border-radius: 12px;
    height: 80px;
    margin: 20px;
    padding-top: 1px;
    padding-left: 4px;
}

footer {
    height: 40px;
    position: absolute;
    margin:auto;
    left: 50%;
    top: 100%;
}

.container{
    width: 100%;
    margin: 0 auto;
}
.l_side{
    float:left;
    width:50%;
    box-sizing: border-box;
}
.r_side {
    float: right;
    width: 50%;
    box-sizing: border-box;
}
.video{
    position: relative;
    width: 100%;
    align-items: center;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    box-sizing: border-box;

}


