body {
    height: 100%;
    font-family: "MS PGothic", monospace;
    display:flex;
    flex-direction:column;
    background-image: url("pictures/egypt2b.jpg");
    font-size: 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-size: 34px;
    background:white ;
    color:black ;
    text-align: center;
    margin: 8px 0% 0% 0%;
    border-radius: 4px;
}

h2 {
    font-size: 34px;
    background:white ;
    color:black ;
    text-align: center;
    margin: 18px 30px 12px 30px;
    border-radius: 4px;
    padding: 0px;
}

p {
    font-size: 20px;
    background:white ;
    color:black ;
    margin: 0px 30px 0% 30px;
    text-align: justify;
    padding: 5px;
    border-radius: 4px;
}

/* LINKS */

a {
    position: inherit;
    font-size: 38px;
    color: White;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    background: #6100ff;
    padding: 5px;
    margin: 0px 4% 0% 4%;
    display:block;
}

a:hover {
    text-shadow: none;
    color: #ffffff;
    background: #5400e1;
    box-shadow: none;
}

a:visited {
    text-decoration: none;
}

/* HEADER & FOOTER */

header {
    z-index:1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left:0;
    right:0;
    background: #38009d;
    padding: 0;
    height: 70px;
    -webkit-box-shadow: 0px 8px 8px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 8px 8px 1px rgba(0,0,0,0.3);
    box-shadow: 0px 8px 8px 1px rgba(0,0,0,0.3);
    margin: -10px 0px -50px 0px;
    border-radius: 0px 0px 10px 10px;
}

#navBar {
    height: 75px;
    margin: 0px 10px 0px 20px;
}

.navButton {
    font-size: 20px;
    display: inline-flex;
    text-align: justify;
    width: 240px;
    height: 28px;
    padding: 8px 5px 10px 8px;
    margin: 10px 10px 10px 20px;
    font-optical-sizing: auto;
    font-weight: bolder;
    box-shadow: 3px 3px #000000;
}

footer {
    height: 40px;
    position: absolute;
    margin-top: auto;
    left: 50%;
    top: 100%;
}
